name: Unit Tests CI

on:
  push:
    branches: [ main, master ]

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    
    - name: Run unit tests
      run: |
        cd geometric_lib  # Папка из вашей лабы 4
        python -m unittest discover -s tests -v

  test-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    
    - name: Run unit tests
      run: |
        cd geometric_lib
        python -m unittest discover -s tests -v
