name: Unit Tests CI

on:
  push:
    branches: [ main, master ]

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    
    - name: Run unit tests
      run: |
        cd src  # Делаем src доступным для импорта
        python -m unittest discover -s ../tests -v

  test-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    
    - name: Run unit tests
      run: |
        cd src
        python -m unittest discover -s ../tests -v

